{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
    <h4><b>Last tweet by @{{ title }}</b></h4>
    <hr>
    <div class="card border-primary bg-light">
        <div class="card-header border-primary">Posted on <b>{{ tweets[0].created_at }}</b></div>
        <div class="card-body text-success">
            <h6 class="card-title">
                <img alt="40x40" class="mr-2 rounded" style="width: 40px; height: 40px;" src="{{ img }}"
                    data-holder-rendered="true">
                <a href="">Tweeted by @{{ title }}'s</a>
            </h6>
            <p class="card-text"><b>{{ tweets[0].tweet }}</b></p>
        </div>
        <div class="card-footer border-primary"><b>We are gonna judge your mood by this tweet! Alright?</b></div>
    </div>
    <hr>
    <div class="card bg-light border-primary">
        <div class="card-header">
            <button class="btn btn-outline-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Mood-Lifter
            </button>
        </div>
        <div class="collapse" id="collapseExample">
            {% if sentiment %}
            <div class="card-body">
                <h5 class="card-title">Recent Mood: <b class="text-primary">{{ sentiment.mood }}!</b></h5>
                <hr>
                <h6 class="text-center"><b>Let us play a mood - lifter for you!</b></h6>
                <hr>
                <!-- <p class="card-text">{{ sentiment.json_res }}</p> -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" frameborder="0" src="{{ sentiment.url }}" allowfullscreen></iframe>
                </div>
            </div>
            {% else %}
            <div class="card-body bg-danger">
                <h5 class="card-title text-light">Sorry to say, but we really can't detect your mood. Hey, you can still play the game?</b></h5>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <h4><b>More tweets by @{{ title }}</b></h4>
    <hr>
    {% for tweet in tweets %}
    {% if loop.index > 1 %}
    <div class="card border-primary">
        <div class="card-header">Posted on <b>{{ tweet.created_at }}</b></div>
        <div class="card-body text-success">
            <h6 class="card-title">
                <img alt="40x40" class="mr-2 rounded" style="width: 40px; height: 40px;" src="{{ img }}"
                    data-holder-rendered="true">
                <a href="">Tweeted by @{{ title }}'s</a>
            </h6>
            <p class="card-text"><b>{{ tweet.tweet }}</b></p>
        </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}
{% block main_container_right %}
<div class="col-md-4">
    <div class="card border-primary">
        <img class="card-img-top" src="{{ img }}" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">{{ name }}</h5>
            <a class="card-text" href="https://twitter.com/{{title}}"><b>@{{ title }}</b></a>
        </div>
    </div>
    <br>
    <div class="collapse" id="collapseExample">
        <div class="card border-primary">
            <iframe class="embed-responsive-item" src="https://cloudgames.com/games/html5/jump-with-justin-new-en-s-iga-cloud/index.html?pub=10"
                name="cloudgames-com" height="516" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>
{% endblock main_container_right %}