{% extends "layout.html" %} 
{% block content %} 
{% for tweet in tweets %}
<div class="card border-primary mb-12">
    <div class="card-header">Posted on <b>{{ tweet.created_at }}</b></div>
    <div class="card-body text-success">
        <h6 class="card-title">
            <img alt="40x40" class="mr-2 rounded" style="width: 40px; height: 40px;" src="{{ tweet.headshot_url }}" data-holder-rendered="true">
            <a href="{{ title }}">Tweeted by @{{ title }}'s</a>
        </h6>
        <p class="card-text"><b>{{ tweet.tweet }}</b></p>
    </div>
</div>
<br> 
{% endfor %} 
{% endblock content %}